In [ ]:
# 뒷 부분에 활용할 패키지를 미리 import 합시다.
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [ ]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.lower())
print(a.swapcase())

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
print('안녕'.join('하세요'))
print(''.join(['3','2','5','6']))

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.
print('apple'.replace('p','a', 1))

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.
'                            h i'.strip()

In [ ]:
'              hi     '.strip()

In [ ]:
'                 hi       '.rstrip()

In [ ]:
'                 hioo'.rstrip('o')

In [ ]:
'           oohioo'.lstrip('o')

In [ ]:
'aabbaabbaa'.strip('a')

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. `없으면, -1을 반환합니다.`

In [2]:
# 아래에 코드를 작성하세요.
print('wow!'.find('o'))
print('wow!'.find('w'))
print('wow!'.find('a'))

1
0
-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. `없으면, 오류가 발생합니다.`

In [ ]:
# 아래에 코드를 작성하세요.
print('wow!'.index('o'))
print('wow!'.index('w'))
print('wow!'.index('a'))

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.
print('apple'.split('p'))

In [ ]:
input = '3 10'
a,b = map(int,input.split())
print(a,b)

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isuper(), .istitle(), .islower()
```

```python
dir('string')
```

isalpha(): 알파뱃?
isdecimal(): 10진수?
isdigit(): 숫자(Integer)?
isnumeric():숫자로 표현 가능?
isspace(): 공백?
isupper(): 영어 대문자?
istitle(): 대문자 + 소문자?

In [ ]:
print(['a','b','c','d','e'], sep = '/', end = "t")

In [ ]:
print(['a','b','c','d','e'], end = 't', sep = "/")

In [ ]:
dir('string')

decimal vs digit vs numeric
decimal(True)=> digit(True) => numeric(True)
digit(True) => numeric(True)
numeric = 숫자같아보이는 특수문자들?
stackoverflow isnumeric isdecimal python 확인

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [4]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [ ]:
# 값을 추가해봅시다.
caffe.append('ame')

In [ ]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, `string*유의*`) 값을 붙일 수가 있습니다.

In [7]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['빽','설빙'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '카', '페', '나', '무', '동네카페', ['그냥카페'], '빽', '설빙']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.
caffe += ['드랍탑']

In [6]:
# append와 비교해봅시다.
caffe.extend(['동네카페'])
caffe.append(['그냥카페'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '카', '페', '나', '무', '동네카페', ['그냥카페']]

In [5]:
caffe.extend('카페나무')
print(caffe) # str또한 Iterable이기 때문에 조심!

['starbucks', 'tomntoms', 'hollys', '카', '페', '나', '무']

In [8]:
b = []
a = '안녕하세요, 여러분'.replace(" ", "")
b.extend(a)
print(b)

['안', '녕', '하', '세', '요', ',', '여', '러', '분']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0,'hi')

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(-1, 'hi')
print(caffe)

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
caffe.insert(100,'bye')
print(caffe)

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

In [ ]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)

In [ ]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [9]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]
a.pop(0)

1

In [10]:
print(a)

[2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
member = {'연용흠', '박태수', '염동혼', '토마스'}
bye_member = member.pop()
print(f"{bye_member} ㅂㅂ")

 pop vs remove 같이 비슷하지만 다른 아이들 구분 잘 하기

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [ ]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [ ]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]
a.count(1)

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
for _ in range(a.count(1)): #돌리고자 정해진 횟수가 없을 경우, 굳이 변ㅅ호 만들지 않고 _ 사용 가능
    a.remove(1)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.
print(a)

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [ ]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

In [ ]:
# sort를 사용해봅시다. 
# sort는 반환값이 none이고, 원본 자체를 변경한다.
# sorted는 반환값이 존재하지만, 원본은 변경되지 않는다.
lotto.sort()
print(lotto)

In [ ]:
a = [1, 2, 3]
a.sort()
b = sorted(a)
print(a)
print(b)

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [ ]:
classroom = ['Tom', 'David', 'Justin']
b = reversed(classrooom)


print(classroom)

## 복사

In [12]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [13]:
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = a
print(original_list)

[[2, 3, 4, 5, 6], 2, 3]

In [14]:
# id 값을 확안해봅시다.
print(id(original_list), id(copy_list))

99232864 99232864

In [17]:
# 숫자를 확인해봅시다.
a = 3
b = a
a = 5

print(a,b)

5 3

In [ ]:
# 딕셔너리도 확인해봅시다.
apple = ('apple': 사과, 'banana ' : '바나나')
b = a
b['apple'] = 맥
print(a)

### copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.
copy 쓸 때 주의하기!
그냥 단순학 copy할 경우 주소값을 copy가져오기때문에 복사본에서 적용한 변경이 원본에도 적용될수도 있다.

In [ ]:
# mutable - 리스트
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [ ]:
# immutable - integer
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

In [18]:
# 리스트를 복사해봅시다.
a = [1,2,3]
b = list(a)
b[2] = 5
print(a)
print(b)

[1, 2, 3]
[1, 2, 5]

In [19]:
# 다른 방법으로 복사해봅시다.
a= [1, 2, 3]
b = a[:]
b[0] = 5
print(a,b)

[1, 2, 3] [5, 2, 3]

In [ ]:
# 얇은 복사 예시
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [ ]:
# 2차원 리스트를 복사해봅시다.

In [ ]:
# 얇은 복사 - 2차원 리스트
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

#2차원 복사를 할 경우 릿트가 아닌 리스트의 주소가 복사되어 버린다. 
#즉 복사본에서 변경을 할 경우 리스트의 주소에 저장됭 ㅓ있는 리스트가 변경되서 원본도 변경되어버린다.

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [20]:
#단, 얇은 복사 할때 적용이 안되는 경우도 있으니 주의하기 b[2]에 대하여 원래 있던 값을 수정한 것이 아니라 새로운 값으로 씌운 것이다
a = [1, 2, [1,2]]
b = a[:]
b[2] = [0,3]
print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [0, 3]]

In [21]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1,2,[1,2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a,b)
print(a)
print(b)

[1, 2, [1, 2]] [1, 2, [3, 2]]
[1, 2, [1, 2]]
[1, 2, [3, 2]]

In [ ]:
# 깊은 복사
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

In [22]:
map(int, [1,2])

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.
b.clear()
print(b)

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
a = range(1,11)

In [ ]:
# 기존의방법
cubic_list = []
for i in a :
    cubic_list.append(i**3)

print(cubic_list)

In [ ]:
# List Comprehension
cubic_list= list(x**3 for x in a)
print(cubic_list)

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
a = range(1,11)

In [ ]:
# 기존의방법
even_list= []
for i in a:
    if i % 2 == 0:
        even_list.append(i)
print(even_list)

In [ ]:
# List Comprehension
even_list=list(x for x in a if x % 2 == 0)
print(even_list)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.
pair = []
for i in girls:
    for j in boys:
        pair.append((i, j))
print(pair)

In [ ]:
# List comprehension을 활용하여 만들어주세요.
a = [(girl, boy) for girl in girls for boy in boys]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.
result = []
for x in range(0, 50):
    for y in range(x+1, 50):                                 
        for z in range(y+1, 50):
            if (x**2 + y**2 == z**2):
                result.append((x, y, z))
print(result)

In [ ]:
# List comprehension을 활용하여 만들어주세요.
result2 =[(x,y,z) for x in range(0,50) for y in range(x+1, 50) for z in range(y+1, 50) if x**2 + y**2 == z**2]
print(result2)

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
''.join([x for x in words if x not in 'aeiou'])

In [ ]:
''.join([word if word not in 'aeiou' else '*' for word in words])

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [23]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}
my_dict.pop('apple')
print(my_dict)

{'banana': '바나나'}

In [25]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('mellon')

KeyError: 'mellon'

In [24]:
# 두번째 인자로 default를 설정할 수 있습니다
# get(0)과 유사 pop할 index이 없을 경우, default값 반환
my_dict.pop('melon', 0)

0

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [ ]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(apple = '사과야')
print(my_dict)
my_dict.update(bus = '버스')
#update(a = b)에서 a는 변수이기때문에 ' ' 안써야 하는거 주읳아기
print(my_dict)

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [1]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.get['pineapple']

TypeError: 'builtin_function_or_method' object is not subscriptable

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [ ]:
# dictionary comprehension
[x**3 for x in range(1,5)]

In [ ]:
result = {}
for x in range(1,5):
    char[x] = x **3

print(result)

In [3]:
a = {x: x**3 for x in range(1,5)}
print(a)

{1: 1, 2: 8, 3: 27, 4: 64}

In [4]:
{char : 0 for char in 'abcdef'}

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0}

In [6]:
result = {}
for char in 'abcd':
    result[char] = 0

print(result)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

### dictionary comprehension 사용해보기

In [30]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

In [25]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
dusts = {x : '나쁨' for x in dusts if dusts[x] > 80 } 
print(dusts)

TypeError: '>' not supported between instances of 'str' and 'int'

In [21]:
a = {city : dusts[city] for city in dusts if dusts[city] > 80}
print(a)

{'대전': 82, '중국': 200}

In [23]:
a = {x : y for x,y in dusts.items() if y > 80}
print(a)

{'대전': 82, '중국': 200}

In [28]:
# value = 82
# if value > 80:
#     '나쁨'
# else :
#     '보통'
result = {x : '나쁨' if y > 80 else '보통' for x, y in dusts.items() }
print(result)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [36]:
# elif 도 사용할 수 있습니다.
print({x : '매우 나쁨' if y > 150 else '나쁨' if y > 80 else '보통' for x, y in dusts.items()})

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '매우 나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
a = {"사과", "바나나", "수박"}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [33]:
# update를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.update('토마토', '딸기')
print(a)

{'마', '딸', '기', '토', '수박', '사과', '바나나'}

In [34]:
a = {'사과', '바나나', '수박'}
a.update(("토마토", "딸기"))
print(a)

{'토마토', '수박', '사과', '바나나', '딸기'}

In [35]:
a = {'사과', '바나나', '수박'}
a.update(('토마토', ), ('딸기', ))
print(a)

{'토마토', '수박', '사과', '바나나', '딸기'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [38]:
# remove를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.remove('사과')
print(a)
a.remove('사과')

{'수박', '바나나'}

KeyError: '사과'

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [39]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.discard('사과')
print(a)
a.discard('사과')

{'수박', '바나나'}

In [ ]:
#pop vs remove vs discard 같이 비슷한 기능이지만 차이가 있는 아이들 구분하기!

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

In [ ]:
# pop같은 아이들은 제거하는 변수가 없을 경우, None 반환 다만 인수로 Default값 설정 가능

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [43]:
a = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.
[str(elem) for elem in a]

In [45]:
''.join(str(elem) for elem in a)

'123'

In [47]:
# list comprehension
''.join(map(str, a))

'123'

In [56]:
a = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

In [58]:
# list comprehension
print([int(x) for x in a])
print(''.join(map(int, a)))

[1, 2, 3]

TypeError: sequence item 0: expected str instance, int found

* function은 사용자 정의 함수도 가능합니다.

In [68]:
# 세제곱의 결과를 나타내는 함수
numbers = {1,2,3}
def cube(n):
    return n**3

In [69]:
list(map(cube, numbers))

[1, 8, 27]

In [70]:
# 함수를 함수의 인자로 넘겨줄 수 있다.

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [72]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [79]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
result3 = []
{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
resut = []
for idx_girl, girl in enumerate(girls):
    for idx_boy, boy in enumerate(boys):
        if idx_girl == idx_boy:
            result.append((girl, boy))
            
print(result)

In [73]:
result2 = []
for girl, boy in zip(girls, boys) :
    result2.append((girl, boy))
print(result2)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [74]:
list(zip(boys,girls))

[('justin', 'jane'), ('david', 'iu'), ('kim', 'mary')]

In [80]:
x, y = 1, 2
print(x, y)

1 2

* 아래와 같이 사용가능하다.

In [81]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [27]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [28]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0)) # fillvalue가 하는 일: 길이가 부족할 경우, 부족한 위치를 fillvalue 값으로 채운다

[(1, '1'), (2, '2'), (3, 0)]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [83]:
def even(n):
    return not n%2

In [84]:
list(filter(even, range(1, 10)))

[2, 4, 6, 8]

In [ ]:
# 다음의 list comprehension과 동일하다.

In [89]:
print(list(num for num in range(1, 10) if even(num)))

[2, 4, 6, 8]